*{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: auto;
    margin-block-start: 1rem;
}

a{
    text-decoration: none;
}
html{
    font-size: 16px;
    font-family: Regular-gelion;


}
body {
    background-image: linear-gradient(to top ,#fffbfb ,#fff8f8); 

}
p {
     font-size: 1.25rem;
     color: #4B4F51; 
}

/**********font***********/
@font-face{
    font-family: light-gelion;
    src: url(../gelion/Gelion\ Light.ttf);
}
@font-face{
    font-family: medium-gelion;
    src: url(../gelion/Gelion\ Medium.ttf);
}
@font-face{
    font-family: Regular-gelion;
    src: url(../gelion/Gelion\ Regular.ttf);
}
@font-face{
    font-family: bold-gelion;
    src: url(../gelion/Gelion\ Bold.ttf);
}
h3{
    color: #FA5652;
    font-size: 1.875rem;
}
h2{
    color: #035755;
    font-size: 3.125rem;

}
p{
    color: #4B4F51;
    margin-block: 2rem;
}
/**********navbar****************/

.navbar .contact{ /**button**/
    border: 2px solid #FB4C47;
    border-radius: 46px;
    font-size: 18px;
    color: #FF383D;
    width: 154px;
    height: 50px;
    text-align: center;

}
.navbar span{
    font-family: bold-gelion;
    font-size: 1.1875rem;
    color: #035755;
    display: block;
    text-align: center;
    
}
.navbar .contact:hover{
    background-color:#FF383D;
    color: #fff;
}
.navbar .nav-item{
    font-size: 18px ;
    color: #035755;
    margin-inline-end: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link:hover{
    color: #FF383D ;
}
.navbar .collapse .navbar-nav .nav-item .active{
    color: #FF383D ;
    position: relative;
}
.nav-item .active::after{
    content: '';
    position: absolute;
    bottom:0px;
    left: 54%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FA5652;
    transform: translateX(-50%);

    
}
.logo{
    display: flex;
    align-items: center;
}
.navbar-brand{
    margin-block-end: 16px;
}

/**********************about us***************/
.header{
    margin-block: 3rem;

}
.content-header .content{
   margin-inline-start: 82px;
    width: 90%;
}

 .secondary-button{
    border: 2px solid #FB4C47;
    border-radius: 65px;
    background-color: #FB4C47;
    color: #fff;
    box-shadow: 0px 8px 87px 0px #0000001A;
    padding: 13px;
    padding-inline: 47px;
}
.content-header .secondary-button:hover{
    background-color: #fff8f8;
    color: #FB4C47;    
}
/*****************about us**********************/

.about-btn{
   border: none;
    border-radius: 65px;
    background-color: #FA565226;
    color: #FA5652;
    box-shadow: 0px 8px 87px 0px #0000001A;
    padding: 13px;
    padding-inline: 47px;
}
.about-btn:hover{
    background-color:#FA5652 ;
    color: #fff;
}
.about-us{
    position: relative;
}
.about-us .side-img{
    position: absolute;
    width: 10%;
    right: 0%;
    top: 36%;
    z-index: -1;
}
.about-us .small-img{
    position: absolute;
    width: 9%;
    right: 3%;
    bottom: -12%;
}
/**********************contagion*******************/
.contagion{
    margin-block: 24px;
    position: relative;
}
.behind-card{
    position: absolute;
    width: 6%;
    color: #FFD0D0;

    left: 19px;
    bottom: 15px;
}
.head-contagion{
    text-align: center;

}
.head-contagion p{
    width: 41%;
    
    margin-inline:auto;
}
.row .card{
    align-items: center;
    text-align: center;
    border: none;
    margin-block: 12px;
    

}
.row .card img{
    width:77%;
}

.row .member h2{
    font-size: 2.125rem;
    
}
.row .member P{
    padding: 12px;
}
.row .member .edit{
    margin-block-start: -19px;
}
.contagion .row .active{
    position: relative;
}
.contagion .row .active::after{
    position: absolute;
    content: '';
    background-color: #FA5652;
    width: 100%;
    height: 4px;
    bottom: 1px;
    border-radius: 0 0 10px 10px
}

/*****************************************************/
.what-should{
    position: relative;
    margin-block: 80px;
}
.what-should .sidegreen{
    position: absolute;
    width: 7%;
    top: 26%;
}
.what-should .green{
   
    position: absolute;
    width: 7%;
    top: 76%;
    right: 3%;
}
.what-should .sidepink{
    position: absolute;
    width: 7%;
    top: 82%;
    right: 0%;

}



.what-should .head{
    text-align: center;
}
.what-should .head p{
    width: 60%;
    margin-inline: auto;
}
.what-should .address{
    display: flex;
    align-items: center;
}
.what-should .address span{
    font-size: 44px;
    font-family: bold-gelion;
    color: #FA5652;
    border-radius: 50%;
    background-color: #FA565226;
    width:75px ;
    Height:75px;
    text-align: center;
    padding-block-start: 7px;
    margin-inline-end: 36px;


}
.what-should .row img{
    width: 80%;
    margin-inline: 60px;
}

/*********************************************/
.content-sub .box{
    position: relative;
    margin-block: 36px;
}
.content-sub .box button {
    position:absolute;
    bottom: 12px;
    left: 67%;
}
.content-sub .box input
{
    width: 57%;
    margin-inline: auto;
    padding: 24px;
    border-radius: 47px;
    position: relative;

    
}
.content-sub h2{
    color: #0C6C44;
    font-size: 64px;
    width: 54%;
    text-align: center;
    margin-inline: auto;
}
/***********************foter**********/
footer .nav-item .nav-link{
    text-shadow: none;

}
footer .logofooter{
    display: flex;
    align-items: center;
}
footer .footer  {
    margin-inline: 33%;

}
footer .footer li a{
    font-size: 19px;
    color: #00402E;
}
footer .brand{
    display: flex;
    align-items: center;
    margin-inline-start: 51px;
}
footer .brand i{
    margin-inline-start: 55px;
}

footer .last{
    text-align: center;

}




/*********** media *************/
@media (max-width: 767px){
    .container{
        width:100%;
    }
    .navbar-collapse{
        display: flex;
        flex-wrap: wrap;
    }
    .about-us .row{
        flex-direction: column-reverse;
    }
    .nav-item .active::after{
        content: '';
        position: absolute;
        bottom:0px;
        left: 25%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #FA5652;
        transform: translateX(-50%);
    }
    .what-should .reverse{
        flex-direction: column-reverse;


    }
    footer .brand{
        display: flex;
        align-items: center;
        margin-inline-start: 125px;
        position: absolute;

    }
    .content-sub .box button{
        width: 57%;
        margin-inline: 109px;
        margin-block-start: 15px;
        position: static;
    }
}